<p>
  <mat-toolbar color="primary">
    <mat-icon>hive</mat-icon>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Home"
      matTooltipPosition="below"
      class="example-icon"
      class="button"
      (click)="redirectToDashboard()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Home"
      matTooltipPosition="below"
      class="example-icon"
      class="button"
      (click)="redirectToUserCart()"
    >
      <mat-icon>shopping_bag</mat-icon>
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ cartCount }}
      </span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button
      matTooltip="logout"
      matTooltipPosition="below"
      mat-icon-button
      class="example-icon"
      (click)="redirectToUserCart()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body" *ngFor="let book of cart.bookItems">
            <!-- Single item -->
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div
                  class="bg-image hover-overlay hover-zoom ripple rounded"
                  data-mdb-ripple-color="light"
                >
                  <img
                    src="{{ book.imagePath }}"
                    class="w-100"
                    alt="Blue Jeans Jacket"
                  />
                  <a href="#!">
                    <div
                      class="mask"
                      style="background-color: rgba(251, 251, 251, 0.2)"
                    ></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p>
                  <strong>{{ book.title }}</strong>
                </p>
                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong>Rs. {{ book.price }}</strong>
                  &nbsp; &nbsp;
                  <strong>Qty. {{ book.quantity }}</strong>
                  &nbsp; &nbsp;
                  <button mat-mini-fab (click)="removeFromCart(book.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </p>
                <!-- Price -->
              </div>
            </div>
            <hr class="my-4" />
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img
              class="me-2"
              width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa"
            />
            &nbsp;
            <img
              class="me-2"
              width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express"
            />
            &nbsp;
            <img
              class="me-2"
              width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Products
                <span>Rs. {{ cart.totalPrice }}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center px-0"
              >
                Shipping
                <span>Amazon</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
              >
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span
                  ><strong>Rs. {{ cart.totalPrice }}</strong></span
                >
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
