<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
    </style>
    <ul>
      <li>
        <a
          class="active"
          href="#home"
          routerLink="/dashboard"
          routerLinkActive="active"
        >Home</a
        >
      </li>
      <li><a href="#news">Cart</a></li>
    </ul>
  </div>
</div>
<section class="section-name padding-y-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let book of books">
        <div class="card card-product-grid">
          <a class="img-wrap">
            <img height="175px" src="{{ book.imagePath }}"/>
          </a>
          <figcaption class="info-wrap">
            <a class="title">{{ book.title | uppercase }}</a>
            <div class="price mt-1">Rs. {{ book.price }}</div>
          </figcaption>
        </div>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addToCart(book.id)"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</section>
