<p>
  <mat-toolbar color="primary">
    <mat-icon>hive</mat-icon>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Home"
      matTooltipPosition="below"
      class="example-icon"
      class="button"
      (click)="redirectToDashboard()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Home"
      matTooltipPosition="below"
      class="example-icon"
      class="button"
      (click)="redirectToUserCart()"
    >
      <mat-icon>shopping_bag</mat-icon>
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ cartCount }}
      </span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button
      matTooltip="logout"
      matTooltipPosition="below"
      mat-icon-button
      class="example-icon"
      (click)="redirectToUserCart()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="container">
  <mat-card class="example-card" class="card-class" *ngFor="let book of books">
    <img mat-card-image src="{{ book.imagePath }}" width="500" height="600" />
    <mat-card-content>
      <p>
        <b>{{ book.title | uppercase }}</b>
        <br />
        Rs. {{ book.price }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button" (click)="addToCart(book.id)">
        Add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
